$background-color                   : #EFF5FA;
$background-color-inner             : #FFFFFF;
$background-color-shades            : #FCFCFC;
$color-primary                      : #555555;
$sidebar-hightlight-background-color: #3F4CA9;
$sidebar-hightlight-color           : #DDE2FF;
$sidebar-hightlight-border-color    : #F96332;
$sidebar-footer-background          : #4B58B5;
$speech-blue-color                  : #3F51B5;
$medium-light-gray                  : #999999;
$gray40                             : #666666;
$dark-charcoal                      : #333333;
$chinese-silver                     : #ccc;
$row-border                         : #68717a;
$dot-color                          : #2AB930;
$dot-color-bg                       : #0F56B3;
$card-font-color                    : #66788A;
$card-usd                           : #47B881;
$plan-divder-color                  : #FFE2D8;
$plan-font-color                    : #979797;
$plan-btn-color                     : #454C70;
$background-color-label             : #c5dbf9;
$background-color-gray              : #EFF5FA;
$time-font-color                    : #60626E;
$card-color                         : #E1E5FA;
$total-card-color                   : rgba(27, 181, 92, 0.16);
$background-month-color             : rgba(255, 157, 157, 0.14);
$background-month-card-color        : rgba(16, 112, 202, 0.13);
$week-card-color                    : rgba(249, 99, 50, 0.13);
$user-card-color                    : rgba(252, 185, 23, 0.24);
$background-color-label             : #c5dbf9;
$btn-text-color                     : #FFE8E1;
$btn-disabled                       : #e0e0e0;
$text-color                         : #EFEFEF;
$btn-text-color                     : #FFE8E1;
$btn-disabled                       : #e0e0e0;
$silver                             : #C4C4C4;
$btn-cancel                         : #EFEFEF;
$number-yellow                      : #fcb917;
$number-blue                        : #0e4da4;
$cross-card-blue                    :rgba(14, 77, 164, 0.19);
$bar-one-color                      : #34B3E0;
$bar-two-color                      : #105481;
$country-bar                        : #4629C0;
$country-bar-two                    : #745ED0;
$color-text                         : #485465;
$color-text-text                    : #4F5256;
$barchart-one-cargo                 :#105481;
$barchart-two-cargo                 :#34B3E0;
$barchart-three-cargo               :#70CCD7;
$barchart-four                      :#78C7A7;
$barchart-five                      :#FAD060;
$barchart-six                       :#F69439;
$barchart-seven                     :#E4505C;
$barchart-eight                     :#8B1841;
$barchart-nine                      :#4629C0;
$barchart-ten                       :#603afa;
$barchart-ele                       :#8265f7;
$barchart-tw                        :#b4a3f8;
$background-color-tick              :rgba(116, 94, 208, 0.26);
$black                              :#000000;
$solitude                           :#E4E7EB;
$myshimpment-background-color       :#F2F5FA;
$add-button                         :#FDEBF7;